In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact
import pycaret
from pycaret.regression import *
from statsmodels.tsa.stattools import adfuller
from sklearn.dummy import DummyRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from IPython import display

In [4]:
df = pd.read_csv('../data/processed/Final_EDA.csv')

In [5]:
df.head()

,counts,TotalPrice,Average_Price,is_holiday,Pre_wk_orders,Pre_30_orders,Post_30_orders,Sales_boost,Invoice,StockCode,Quantity,Price,Customer_Id,Hour,Month,Year,Day,Weeknumber
0,125.0,36227.9,289.8232,0.0,0.0,0.0,2403.0,0.0,489434,85048,12.0,6.95,13085.0,7.0,12.0,2009.0,1.0,49.0
1,125.0,36227.9,289.8232,0.0,0.0,0.0,2403.0,0.0,489434,79323P,12.0,6.75,13085.0,7.0,12.0,2009.0,1.0,49.0
2,125.0,36227.9,289.8232,0.0,0.0,0.0,2403.0,0.0,489434,79323W,12.0,6.75,13085.0,7.0,12.0,2009.0,1.0,49.0
3,125.0,36227.9,289.8232,0.0,0.0,0.0,2403.0,0.0,489434,22041,48.0,2.10,13085.0,7.0,12.0,2009.0,1.0,49.0
4,125.0,36227.9,289.8232,0.0,0.0,0.0,2403.0,0.0,489434,21232,24.0,1.25,13085.0,7.0,12.0,2009.0,1.0,49.0

In [6]:
df.columns

Index(['counts', 'TotalPrice', 'Average_Price', 'is_holiday', 'Pre_wk_orders',
       'Pre_30_orders', 'Post_30_orders', 'Sales_boost', 'Invoice',
       'StockCode', 'Quantity', 'Price', 'Customer_Id', 'Hour', 'Month',
       'Year', 'Day', 'Weeknumber'],
      dtype='object')

In [7]:
df.dtypes

counts            float64
TotalPrice        float64
Average_Price     float64
is_holiday        float64
Pre_wk_orders     float64
Pre_30_orders     float64
Post_30_orders    float64
Sales_boost       float64
Invoice            object
StockCode          object
Quantity          float64
Price             float64
Customer_Id       float64
Hour              float64
Month             float64
Year              float64
Day               float64
Weeknumber        float64
dtype: object

In [9]:
df.isna().sum()

counts            0
TotalPrice        0
Average_Price     0
is_holiday        0
Pre_wk_orders     0
Pre_30_orders     0
Post_30_orders    0
Sales_boost       0
Invoice           0
StockCode         0
Quantity          0
Price             0
Customer_Id       0
Hour              0
Month             0
Year              0
Day               0
Weeknumber        0
dtype: int64

In [10]:
all_results = []
    
# initialize setup from pycaret.regression
s = setup(df, target ='Post_30_orders' , train_size = 0.8,
              data_split_shuffle = True, fold = 5,
              ignore_features = ['Invoice','StockCode'],
              numeric_features = ['counts', 'TotalPrice', 'Average_Price', 'Pre_wk_orders','Pre_30_orders', 
               'Month','Year', 'Day', 'Weeknumber'],
              silent = True, verbose = False, session_id = 123, normalize=False)

best = compare_models()
best

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=123, splitter='best')

In [11]:
rf = create_model('rf')

In [12]:
save_model(rf, '../models/orders_post30_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False,
                                       features_todrop=['Invoice', 'StockCode'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=['counts',
                                                           'TotalPrice',
                                                           'Average_Price',
                                                           'Pre_wk_orders',
                                                           'Pre_30_orders',
                                                           'Month', 'Year',
                                                           'Day', 'Weeknumber'],
                                       target='Post_30_orders',
                                       time_features=[])),
                 (...
                  RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                        criterion='mse', max_depth=None,
                                        max_features='auto', max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=-1,
                                        oob_score=False, random_state=123,
                                        verbose=0, warm_start=False)]],
          verbose=False),
 '../models/orders_post30_model.pkl')

In [13]:
df_nonuk = pd.read_csv('../data/processed/Final_EDA_NonUK.csv')

In [14]:
final_df = df[['counts','TotalPrice','Average_Price','Pre_wk_orders','Pre_30_orders','Month', 'Year','Day', 'Weeknumber','Post_30_orders']]
final_df_nonuk = df_nonuk[['counts','TotalPrice','Average_Price','Pre_wk_orders','Pre_30_orders','Month', 'Year','Day', 'Weeknumber','Post_30_orders']]

In [16]:
final_df.shape

(741255, 10)

In [18]:
final_df = final_df[final_df.Average_Price >= 0.0]
final_df_nonuk = final_df_nonuk[final_df_nonuk.Average_Price >= 0.0]

In [19]:
final_df.to_csv('..\models\Final_Features.csv', index=False)
final_df_nonuk.to_csv('..\models\Final_Features_NonUK.csv', index=False)

In [20]:
all_results = []
    
# initialize setup from pycaret.regression
s = setup(df_nonuk, target ='Post_30_orders' , train_size = 0.8,
              data_split_shuffle = True, fold = 5,
              ignore_features = ['Invoice','StockCode'],
              numeric_features = ['counts', 'TotalPrice', 'Average_Price', 'Pre_wk_orders','Pre_30_orders', 
               'Month','Year', 'Day', 'Weeknumber'],
              silent = True, verbose = False, session_id = 123, normalize=False)

best = compare_models()
best

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=123, splitter='best')

In [21]:
new_df = df_nonuk.append(df)
new_df.shape

(824293, 18)

In [22]:
# initialize setup from pycaret.regression
s = setup(new_df, target ='Post_30_orders' , train_size = 0.8,
              data_split_shuffle = True, fold = 5,
              ignore_features = ['Invoice','StockCode'],
              numeric_features = ['counts', 'TotalPrice', 'Average_Price', 'Pre_wk_orders','Pre_30_orders', 
               'Month','Year', 'Day', 'Weeknumber'],
              silent = True, verbose = False, session_id = 123, normalize=False)

best = compare_models()
best

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=123, splitter='best')